header
{
    color: #F05B82;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

* {
    margin: 0;
    padding: 0;
}

body
{
    background: linear-gradient(white, #A7DAFD);
}

#LOGO
{
    height: 50px;
    margin-right: 3%;
}

.logo
{
    align-items: center;
    display: flex;
    font-family:Verdana, "sans-serif";
    flex-direction: row;
    justify-content: left;
    margin: 10px;
}

#Main
{
    background-image: url("image/Accueil background.png");
    background-color: #BC0047;
    background-repeat: no-repeat;
    background-size: 100%;
}

button:hover
{
    background-color: #F05B82;
    color: white;
}


button
{
    border: none;
    margin: 2%;
    background-color: transparent;
    border-radius: 25%;
    margin-bottom: auto;
    padding: 10px;
}

.boutons
{
    align-items: center;
    width: 800px;
}

#accueil
{
    background-color: #F05B82;
    color: white;
}

a
{
    color : #F05B82;
    text-decoration:none;
    font-size: 15px;

}

a:hover{
    color:white;
}
#acc{
    color: white;
}

footer
{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.logomini
{
    height: 50px;
    padding: 20px;
}

#buttonfoot
{
    margin: 20px;
    height: 50px;
    background-color: black;
}
#buttonfoot:hover
{
    border: white 2px solid;
}
#textfoot
{
    color: #F05B82;
}
#textfoot:hover
{
    color: white;
}
#winter
{
    background-image: url("image/winter background.jpg");
    background-color: lightgray;
    background-size: 100%;
    background-repeat: no-repeat;
}

.black
{
    color: black;
}