header
{
    color: #F05B82;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

* {
    margin: 0;
    padding: 0;
}

#LOGO
{
    height: 50px;
    margin-right: 3%;
}

.logo
{
    align-items: center;
    display: flex;
    font-family:Verdana, "sans-serif";
    flex-direction: row;
    justify-content: left;
    margin: 10px;
}

#Main
{
    background-image: url("image/Accueil background.png");
    background-color: #BC0047;
    background-repeat: no-repeat;
    background-size: 100%;
}

a
{
    background-color: #F05B82;
    color: white;
}


a
{
    border: none;
    margin: 2%;
    background-color: transparent;
    border-radius: 10px;
    margin-bottom: auto;
    padding: 10px;
}

.boutons
{
    align-items: center;
    width: 800px;
}
a:hover
{
    background-color: #F05B82;
    color: white;
}

a
{
    color : #F05B82;
    text-decoration:none;
    font-size: 15px;

}


#acc{
    background-color: #F05B82;
    color: white;
}

footer
{
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.logomini
{
    height: 50px;
    padding: 5px;
}

#textfoot
{
    color: #F05B82;
    margin: 20px;
    background-color: black;
}
#textfoot:hover
{
    color: white;
    border: white 2px solid;
}
#winter
{
    background-image: url("image/winter background.jpg");
    background-color: lightgray;
    background-size: 100%;
    background-repeat: no-repeat;
}

.black
{
    color: black;
}

form
{
    padding: 10px;
    background-color: whitesmoke;
    box-shadow: 5px 5px #F05B82;
    width: 80%;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
}
input
{
    margin: 5px;
}

table
{
    border-collapse: collapse;
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    height: 95%;
    box-shadow: 5px 5px lightskyblue;
    border-radius: 5px;
}

td,th
{
    width: 25%;
    text-align: center;
    padding: 10px;
    min-width: 200px;
}
td
{
    border-top:1px deeppink solid;
}

h2
{
    font-size: 30px;
    color: deepskyblue;
    margin: auto;
}
#jouer
{
    display: flex;
    flex-direction: column;
}

#wintermain
{
    display: flex;
}

#wintermain h2
{
    color: black;
}